// delete the following line if no text is used
// edit the line if you wanna use other fonts
@import url(https://fonts.googleapis.com/css?family=Open+Sans:700,300);
@import url('https://fonts.googleapis.com/css2?family=Courier+Prime:wght@700&display=swap');

// use only the available space inside the 400x400 frame
.frame {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 400px;
  height: 400px;
  margin-top: -200px;
  margin-left: -200px;
  border-radius: 2px;
	box-shadow: 4px 8px 16px 0 rgba(0,0,0,0.1);
	overflow: hidden;
  background: #fff;
  color: #333;
	font-family: 'Open Sans', Helvetica, sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	
	border-radius: 10px;
	
	&__center {
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translate(-50%,-50%);
		text-align: center;
		font-family: 'Open Sans';
  	font-style: normal;
  	font-weight: 700;
  	font-stretch: 100%;
		color: white;
		line-height: 1px;
		padding-top: 25px;
		padding-left: 10px;
	}
	
	&__texto1{
		position: relative;
		left: 6px;
		font-size: 90px;
		margin: 40px 0 0 0;
		display: block;
		font-family: 'Courier Prime', monospace;
		font-weight: 700;
	}
	&__texto2{
		display: block;
		position: relative;
		left: 4px;
		font-size: 25.5px;
		margin: 40px 0 0 0;
		font-family: 'Courier Prime', monospace;
		font-weight: 700;
		word-spacing: 10px;
		// letter-spacing: 1px;
	}
	
	&__hundred{
		display: flex;
		// border: 1px solid white;
		z-index: 3;
	}
	&__uno{
		width: 60px;
		height: 100px;
		// border: 1px solid white;
		// box-shadow: 10px 0px 15px -6px rgba(0,0,0,0.59);
	}
	
	&__uno--pt1{
		position: relative;
		top: 4px;
		left: 12px;
		width: 30px;
		height:45px;
		background-color: white;
		border-radius: 7px;
		clear: both;
		float: left;
		z-index: 1;
		box-shadow: 0px 0px 20px 2px rgba(0,0,0,0.59);
		transform: rotate(45deg);
	}
	&__uno--pt2{
		position: relative;
		width: 30px;
		height: 100%;
		float: right;
		border-radius: 7px;
		background-color: white;
		z-index: 4;
		box-shadow: 0px 0px 20px 2px rgba(0,0,0,0.59);
	}
	
	
	
	&__zero--a{
		position: relative;
		left: -10px;
		width: 100px;
		height: 100px;
		border-radius: 50px;
		box-shadow: 0px 0px 20px 2px rgba(0,0,0,0.59);
		z-index: -2;
	}
	
	&__zero--b{
		position: relative;
		left: -20px;
		width: 100px;
		height: 100px;
		border-radius: 50px;
		box-shadow: 0px 0px 20px 2px rgba(0,0,0,0.59);
		z-index: -3;
	}
	
	&__zero--inter{
		width: 50px;
		height: 50px;
		border-radius: 25px;
		position: relative;
		top: 24px;
		left: 24px;
		box-shadow: 0px 0px 0px 25px #ffffff;
	}
	
}



.frame--gradient{
	background: rgb(118,55,196);
	background: linear-gradient(45deg, rgba(118,55,196,1) 25%, 		rgba(0,168,255,1) 100%);
}


